<!DOCTYPE>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="/app.js"></script>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<nav>
		<h1><a href="/">KnowledgeTree</a></h1>
		<ul>
			<li><a href="/food_drinks">Food | Drinks</a></li>
			<li><a href="/getting_arounds">Getting Around</a></li>
			<li><a href="/meeting_peoples">Meeting People</a></li>
		</ul>	
	</nav> 
		
	{{{body}}}

<!-- 	<p class="newArticle"><a href="/newarticle">Write a new article!</a></p>
 -->	<div class="photoTree">
	</div>
</body>
</html>