<div id="container">
	<h2>List of Apps</h2>
	<img id="fooddrank" src="" alt="">
	{{#each food_drinks}}
		<div class="food_drinks">
			<a href="/food_drinks/mainpage/{{id}}">{{name}}</a>
		</div>
	{{/each}}
</div>

