<div id="container">
	<form action="/newarticle" method="POST">
		<p class="cateHead">Choose your category</p>
		<select name="tablename">
		<option value="food_drinks">Food | Drinks</option>
		<option value="getting_arounds">Getting Around</option>
		<option value="meeting_peoples">Meeting People</option>
		</select>
		<textarea name="name" placeholder="Name of App"></textarea>
		<textarea name="description" placeholder="Description"></textarea>
		<textarea name="features" placeholder="Features"></textarea>
		<textarea name="author" placeholder="Author"></textarea>
		<input type="submit" value="create">
	</form>
</div>

